In [1]:
import pandas as pd

# Series, DataFrame, Dictionary

# list to series
s = pd.Series([2, 8, -2, 10])
print(type(s))

dictionary = {
  "names" : ["Jacky", "Bob", "Steven"],
  "ages" : [23, 10, 5],
  "city" : ["Hong Kong", "New York", "Hong Kong"],
  "salary": [20000.5, 19500, 15000]
}

# convert dictionary to dataframe
df = pd.DataFrame(dictionary)
print(df)

<class 'pandas.core.series.Series'>
    names  ages       city   salary
0   Jacky    23  Hong Kong  20000.5
1     Bob    10   New York  19500.0
2  Steven     5  Hong Kong  15000.0

In [2]:
df = pd.read_csv("staffs.csv")

print(df.tail())
print(df.head())
print(df.info())
print(df.describe())

     name  age             email   salary
1     bob    9     bob@gmail.com  20000.0
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
4   ricky   19   ricky@gmail.com  11000.0
5     leo   23     leo@gmail.com  35000.0
     name  age             email   salary
0   jacky   27   jacky@gmail.com  19500.5
1     bob    9     bob@gmail.com  20000.0
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
4   ricky   19   ricky@gmail.com  11000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   email   6 non-null      object
 3   salary  6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes
None
             age        salary
count   6.000000      6.000000
mean   21.833333  18833.416667
std    11.034793   9405.679138
min     9.000000   8000.000000
25%    14.500000  13125.000000
50%    21.000000  19500.250000
75%    26.000000  19875.125000
max    40.000000  35000.000000

In [ ]:
salary_series = df["salary"]
print(type(salary_series)) # Series

# Dictionary: list, dictionary

# Pandas: DataFrame consist of Series

print(df["email"])

<class 'pandas.core.series.Series'>
0     jacky@gmail.com
1       bob@gmail.com
2    steven@gmail.com
3      alex@gmail.com
4     ricky@gmail.com
5       leo@gmail.com
Name: email, dtype: object

In [4]:
print(df["name"].str.contains("e"))

print(df.loc[df["name"].str.contains("e")])

# Normal Python: if else -> and or

# DataFrame -> & |
print(df.loc[(df["name"].str.contains("e")) & (df["age"] > 30)])

0    False
1    False
2     True
3     True
4    False
5     True
Name: name, dtype: bool
     name  age             email   salary
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
5     leo   23     leo@gmail.com  35000.0
   name  age           email   salary
3  alex   40  alex@gmail.com  19500.0

In [5]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
# print(df.head())

# 1. Sex=male
print(df.loc[df["Sex"] == "male"])

     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5     NaN      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
7     2.0      3      1            349909  21.0750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

[577 rows x 12 columns]

In [6]:
# 2. Names contains "Johnson"
print(df.loc[df["Name"].str.contains("Johnson")])

     PassengerId  Survived  Pclass  \
8              9         1       3
172          173         1       3
302          303         0       3
597          598         0       3
719          720         0       3
869          870         1       3

                                                  Name     Sex   Age  SibSp  \
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
172                       Johnson, Miss. Eleanor Ileen  female   1.0      1
302                    Johnson, Mr. William Cahoone Jr    male  19.0      0
597                                Johnson, Mr. Alfred    male  49.0      0
719                       Johnson, Mr. Malkolm Joackim    male  33.0      0
869                    Johnson, Master. Harold Theodor    male   4.0      1

     Parch  Ticket     Fare Cabin Embarked
8        2  347742  11.1333   NaN        S
172      1  347742  11.1333   NaN        S
302      0    LINE   0.0000   NaN        S
597      0    LINE   0.0000   NaN        S
719      0  347062   7.7750   NaN        S
869      1  347742  11.1333   NaN        S

In [ ]:
# 3. Age > 30 and Sex = Female
print(df.loc[(df["Age"] > 30) & (df["Sex"] == "female")])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
15            16         1       2
18            19         0       3
..           ...       ...     ...
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1
885          886         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
..                                                 ...     ...   ...    ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
11       0    113783  26.5500  C103        S
15       0    248706  16.0000   NaN        S
18       0    345763  18.0000   NaN        S
..     ...       ...      ...   ...      ...
862      0     17466  25.9292   D17        S
865      0    236852  13.0000   NaN        S
871      1     11751  52.5542   D35        S
879      1     11767  83.1583   C50        C
885      5    382652  29.1250   NaN        Q

[103 rows x 12 columns]

In [8]:
url = "https://jsonplaceholder.typicode.com/users"
df = pd.read_json(url) # for single json structure
print(df.head())

   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

In [9]:
import requests
from pandas import json_normalize

url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url)

print(type(response))

data = response.json()
print(type(data)) # list / dictionary

df = json_normalize(data)
print(type(df))

print(df.loc[df["address.street"] == "Victor Plains"])

<class 'requests.models.Response'>
<class 'list'>
<class 'pandas.core.frame.DataFrame'>
   id          name   username              email                phone  \
1   2  Ervin Howell  Antonette  Shanna@melissa.tv  010-692-6593 x09125

         website address.street address.suite address.city address.zipcode  \
1  anastasia.net  Victor Plains     Suite 879  Wisokyburgh      90566-7771

  address.geo.lat address.geo.lng  company.name  \
1        -43.9509        -34.4618  Deckow-Crist

              company.catchPhrase                        company.bs
1  Proactive didactic contingency  synergize scalable supply-chains

In [10]:
# address geo lat < 0 and lng < 0
df2 = df.loc[(df["address.geo.lat"].astype(float) < 0) & (df["address.geo.lng"].astype(float) < 0)]
print(df2)

   id                      name       username                 email  \
1   2              Ervin Howell      Antonette     Shanna@melissa.tv
2   3          Clementine Bauch       Samantha    Nathan@yesenia.net
7   8  Nicholas Runolfsdottir V  Maxime_Nienow  Sherwood@rosamond.me

                 phone        website     address.street address.suite  \
1  010-692-6593 x09125  anastasia.net      Victor Plains     Suite 879
2       1-463-123-4447    ramiro.info  Douglas Extension     Suite 847
7    586.493.6943 x140   jacynthe.com   Ellsworth Summit     Suite 729

    address.city address.zipcode address.geo.lat address.geo.lng  \
1    Wisokyburgh      90566-7771        -43.9509        -34.4618
2  McKenziehaven      59590-4157        -68.6102        -47.0653
7      Aliyaview           45169        -14.3990       -120.7677

         company.name                company.catchPhrase  \
1        Deckow-Crist     Proactive didactic contingency
2  Romaguera-Jacobson  Face to face bifurcated interface
7     Abernathy Group      Implemented secondary concept

                         company.bs
1  synergize scalable supply-chains
2   e-enable strategic applications
7     e-enable extensible e-tailers

In [11]:
# Sorting
sorted_df = df.sort_values(by="name", ascending=False)
print(sorted_df)

   id                      name          username                      email  \
3   4          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
7   8  Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
5   6      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
0   1             Leanne Graham              Bret          Sincere@april.biz
6   7           Kurtis Weissnat      Elwyn.Skiles     Telly.Hoeger@billy.biz
8   9           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
1   2              Ervin Howell         Antonette          Shanna@melissa.tv
2   3          Clementine Bauch          Samantha         Nathan@yesenia.net
9  10        Clementina DuBuque    Moriah.Stanton     Rey.Padberg@karina.biz
4   5          Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca

                   phone        website     address.street address.suite  \
3      493-170-9623 x156       kale.biz        Hoeger Mall      Apt. 692
7      586.493.6943 x140   jacynthe.com   Ellsworth Summit     Suite 729
5   1-477-935-8478 x6430        ola.org  Norberto Crossing      Apt. 950
0  1-770-736-8031 x56442  hildegard.org        Kulas Light      Apt. 556
6           210.067.6132       elvis.io          Rex Trail     Suite 280
8   (775)976-6794 x41206     conrad.com         Dayna Park     Suite 449
1    010-692-6593 x09125  anastasia.net      Victor Plains     Suite 879
2         1-463-123-4447    ramiro.info  Douglas Extension     Suite 847
9           024-648-3804    ambrose.net    Kattie Turnpike     Suite 198
4          (254)954-1289   demarco.info       Skiles Walks     Suite 351

     address.city address.zipcode address.geo.lat address.geo.lng  \
3     South Elvis      53919-4257         29.4572       -164.2990
7       Aliyaview           45169        -14.3990       -120.7677
5   South Christy      23505-1337        -71.4197         71.7478
0     Gwenborough      92998-3874        -37.3159         81.1496
6       Howemouth      58804-1099         24.8918         21.8984
8  Bartholomebury      76495-3109         24.6463       -168.8889
1     Wisokyburgh      90566-7771        -43.9509        -34.4618
2   McKenziehaven      59590-4157        -68.6102        -47.0653
9     Lebsackbury      31428-2261        -38.2386         57.2232
4      Roscoeview           33263        -31.8129         62.5342

         company.name                       company.catchPhrase  \
3       Robel-Corkery  Multi-tiered zero tolerance productivity
7     Abernathy Group             Implemented secondary concept
5   Considine-Lockman        Synchronised bottom-line interface
0     Romaguera-Crona    Multi-layered client-server neural-net
6         Johns Group        Configurable multimedia task-force
8       Yost and Sons     Switchable contextually-based project
1        Deckow-Crist            Proactive didactic contingency
2  Romaguera-Jacobson         Face to face bifurcated interface
9          Hoeger LLC         Centralized empowering task-force
4         Keebler LLC      User-centric fault-tolerant solution

                             company.bs
3  transition cutting-edge web services
7         e-enable extensible e-tailers
5      e-enable innovative applications
0           harness real-time e-markets
6         generate enterprise e-tailers
8      aggregate real-time technologies
1      synergize scalable supply-chains
2       e-enable strategic applications
9              target end-to-end models
4      revolutionize end-to-end systems

In [12]:
# group by + agg function
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print(df["Age"].mean())
print(df["Age"].max())
print(df["Age"].min())

age_series = df.groupby("Survived")["Age"].mean()

print(type(age_series))
print(age_series)

29.69911764705882
80.0
0.42
<class 'pandas.core.series.Series'>
Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [13]:
# Check any missing value for a column
print(df["Age"].isnull().any())
print(df["Name"].isnull().any())

# Check which columns with missing value
print(df.columns[df.isnull().any()])

True
False
Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
# Transform (drop)
# ETL (extract + transform + load)
df_after_drop = df.dropna(subset=["Age"])

print(df_after_drop["Age"].isnull().any()) # False

print(len(df))
print(len(df_after_drop))

False
891
714

In [ ]:
# Transform (Refill)
df_for_refill = df.copy()

# Test before refill
print(df_for_refill["Age"].isnull().any()) # True

# Refill N/A for Age
df_for_refill["Age"] = df_for_refill["Age"].fillna("N/A")

# Test after refill
print(df_for_refill["Age"].isnull().any()) # False

True
False

In [ ]:
# DF to csv
df_for_refill.to_csv("after_refill_age.csv", index=False)

In [ ]:
# Add Column
# Age >= 18 (Adult), < 18 Child

# similar to map
df_for_refill["Age_Cat"] = df["Age"].apply(lambda age: "Adult" if age >= 18 else "Child")

df_for_refill.to_csv("after_add_age_cat.csv", index=False)