In [37]:
import pandas as pd

# Series, DataFrame, Dictionary

# list to series
s = pd.Series([2, 8, -2, 10])
print(type(s))

dictionary = {
  "names" : ["Jacky", "Bob", "Steven"],
  "ages" : [23, 10, 5],
  "city" : ["Hong Kong", "New York", "Hong Kong"],
  "salary": [20000.5, 19500, 15000]
}

# convert dictionary to dataframe
df = pd.DataFrame(dictionary)
print(df)

<class 'pandas.core.series.Series'>
    names  ages       city   salary
0   Jacky    23  Hong Kong  20000.5
1     Bob    10   New York  19500.0
2  Steven     5  Hong Kong  15000.0

In [38]:
df = pd.read_csv("staffs.csv")

print(df.tail())
print(df.head())
print(df.info())
print(df.describe())

     name  age             email   salary
1     bob    9     bob@gmail.com  20000.0
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
4   ricky   19   ricky@gmail.com  11000.0
5     leo   23     leo@gmail.com  35000.0
     name  age             email   salary
0   jacky   27   jacky@gmail.com  19500.5
1     bob    9     bob@gmail.com  20000.0
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
4   ricky   19   ricky@gmail.com  11000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   email   6 non-null      object
 3   salary  6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes
None
             age        salary
count   6.000000      6.000000
mean   21.833333  18833.416667
std    11.034793   9405.679138
min     9.000000   8000.000000
25%    14.500000  13125.000000
50%    21.000000  19500.250000
75%    26.000000  19875.125000
max    40.000000  35000.000000

In [39]:
salary_series = df["salary"]
print(type(salary_series)) # Series

# Dictionary: list, dictionary

# Pandas: DataFrame consist of Series

print(df["email"])

<class 'pandas.core.series.Series'>
0     jacky@gmail.com
1       bob@gmail.com
2    steven@gmail.com
3      alex@gmail.com
4     ricky@gmail.com
5       leo@gmail.com
Name: email, dtype: object

In [40]:
print(df["name"].str.contains("e"))

print(df.loc[df["name"].str.contains("e")])

# Normal Python: if else -> and or

# DataFrame -> & |
print(df.loc[(df["name"].str.contains("e")) & (df["age"] > 30)])

0    False
1    False
2     True
3     True
4    False
5     True
Name: name, dtype: bool
     name  age             email   salary
2  steven   13  steven@gmail.com   8000.0
3    alex   40    alex@gmail.com  19500.0
5     leo   23     leo@gmail.com  35000.0
   name  age           email   salary
3  alex   40  alex@gmail.com  19500.0