In [99]:
# Data Types:
# bool, str, int, float

# Data Structures:
# List, Set, Dictionary, Tuple

names = ["John", "Steven", "Lucas", "Leo"]
names.append("Jennie")
names.remove("Steven")
print(names)
names.insert(2, "Peter")
print(names)

print(names[:4])

names.sort()
print(names)

names.pop(1)
print(names)

names.clear()
print(names)

['John', 'Lucas', 'Leo', 'Jennie']
['John', 'Lucas', 'Peter', 'Leo', 'Jennie']
['John', 'Lucas', 'Peter', 'Leo']
['Jennie', 'John', 'Leo', 'Lucas', 'Peter']
['Jennie', 'Leo', 'Lucas', 'Peter']
[]

In [100]:
list1 = ["John", "Vincent", "Jennie"]
list2 = [100, 200, -1]
list3 = list1 + list2
print(list3)

['John', 'Vincent', 'Jennie', 100, 200, -1]

In [101]:
# Java: new ArrayList, new HashSet
# Python: [] -> list, {} -> set

numbers = {2, 4, 9, -3}
print(type(numbers)) # 

# Set -> No ordering
numbers.add(10)
numbers.remove(4)
print(numbers) # {2, 9, 10, -3}

numbers.add(10)
print(numbers) # {2, 9, 10, -3}

numbers2 = {8, 9, 2, -5}
numbers.update(numbers2) 
print(numbers) # {2, 8, 9, 10, -5, -3}

print(numbers.intersection(numbers2)) # {8, 9, 2, -5}

# union 
# |

<class 'set'>
{2, 9, 10, -3}
{2, 9, 10, -3}
{2, 8, 9, 10, -5, -3}
{8, 9, 2, -5}

In [102]:
# dictionary
person_dictionary = {
  "name" : "John",
  "age" : 23,
  "height" : 1.76
}

print(person_dictionary["age"])
print(person_dictionary["height"])
print(person_dictionary["name"])

for k, v in person_dictionary.items():
  print(f"key: {k}, value: {v}")

print(person_dictionary.keys())
print(person_dictionary.values())

23
1.76
John
key: name, value: John
key: age, value: 23
key: height, value: 1.76
dict_keys(['name', 'age', 'height'])
dict_values(['John', 23, 1.76])

In [103]:
# dictionary
dictionary2 = {
  3 : "John",
  7 : "Vincent",
  "Vincent" : 100
}

print(dictionary2[3]) # John
print(dictionary2[7]) # "Vincent"
print(dictionary2["Vincent"]) # 100

# Java put() in HashMap (add or replace)
dictionary2.update({"color" : "red"})
print(dictionary2["color"])

dictionary2.pop("Vincent")
print(dictionary2)

dictionary2["color"] = "blue"
print(dictionary2)

John
Vincent
100
red
{3: 'John', 7: 'Vincent', 'color': 'red'}
{3: 'John', 7: 'Vincent', 'color': 'blue'}

In [104]:
family_dict = {
  "child1" : {
    "name" : "John",
    "age" : 13
  },
  "child2" : {
    "name" : "Peter",
    "age" : 18
  },
  "child3" : {
    "name" : "Vincent"
  }
}
print(type(family_dict))

print(family_dict["child2"])

<class 'dict'>
{'name': 'Peter', 'age': 18}

In [105]:
# tuple ~ array (Allow Read ONLY)
names = ("John", "Peter", "Sally")
print(type(names))

strings = (True, 3, 8.9, "Jennie")
print(strings)
print(strings[2]) # index 
# strings[2] = "Sue" # 'tuple' object does not support item assignment

# tuple implies more than one element
ages = (5, 3)
print(type(ages)) # tuple

ages = (40)
print(type(ages)) # int

<class 'tuple'>
(True, 3, 8.9, 'Jennie')
8.9
<class 'tuple'>
<class 'int'>